<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Sessions">
  <ion-content class="padding" scroll="false">
    <ion-slides slider="slider" ion-slides-tabs slide-tabs-scrollable="false">
      <ion-slide-page ion-slide-tab-label="Detail session">
        <ion-scroll style="height: 100%">
          <div>
            <h3>{{vm.session.title}}</h3>
          </div>
          <div ng-bind-html="vm.session.description"></div>
          <div ng-repeat="speaker in vm.speakers">
            <p>{{speaker.name}}</p>
            <p>{{speaker.company}}</p>
            <p>{{speaker.bio}}</p>
            <div ng-repeat="social in speaker.socials">
              <!-- todo image cliquable  -->
              {{social.name}} : {{social.link}}
            </div>
          </div>
        </ion-scroll>
      </ion-slide-page>
      <ion-slide-page ion-slide-tab-label="My notes">
        <div>
          <h3>{{vm.session.title}}</h3>
          <label style="height:200px" class="item item-input item-stacked-label">
            <span class="input-label">My note</span>
            <input ng-model="vm.note.comment" type="text" placeholder="Start to write a note...">
          </label>
          <button ng-click="vm.saveNote()" class="button icon-right ion-ios-download-outline button-positive">Save note</button>
        </div>
      </ion-slide-page>
    </ion-slides>


  </ion-content>
</ion-view>