<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->



<ion-view view-title="Sessions">
  <script id="modal.html" type="text/ng-template">
      <div class="modal" ng-click="closeModal()">
      <ion-content>
      <img src="{{pictureToDisplay}}" style="display:block; width:100%; max-width:600px; margin:auto"/>
      </ion-content>
      </div>
    </script>
  <ion-content class="padding" scroll="false">
    <ion-slides slider="slider" ion-slides-tabs slide-tabs-scrollable="false">
      <ion-slide-page ion-slide-tab-label="Detail session">
        <ion-scroll style="height: 100%">
          <div>
            <h3>{{vm.session.title}}</h3>
          </div>
          <div ng-bind-html="vm.session.description"></div>
          <div ng-repeat="speaker in vm.speakers">
            <p>{{speaker.name}}</p>
            <p>{{speaker.company}}</p>
            <p>{{speaker.bio}}</p>
            <div ng-repeat="social in speaker.socials">
              <!-- todo image cliquable  -->
              {{social.name}} : {{social.link}}
            </div>
          </div>
        </ion-scroll>
      </ion-slide-page>

      <ion-slide-page ion-slide-tab-label="My notes">
        <ion-scroll style="height: 100%">
          <div class="card">
            <form>
              <h3>{{vm.session.title}}</h3>
              <label style="height:200px" class="item item-input item-stacked-label">
                <i class="icon ion-clipboard placeholder-icon"></i>
                <!-- <span class="input-label">My note</span> -->
                <input ng-model="vm.note.comment" type="text" placeholder="Start to write a note...">
              </label>
              <button ng-disabled ="!vm.formModified" ng-click="vm.saveNote()" class="button icon-right ion-ios-download-outline button-positive">Save note</button>
            </form>
          </div>


          <div class="card" style="margin-top:1em">
            <button class="button icon ion-camera" ng-click="vm.takePhoto()">
              Take Photo
            </button>

            <div>
              Photos
              <div class="row">
                <div class="col col-25" ng-repeat="picture in vm.note.pictures">
                  <img ng-src="{{picture}}" ng-click="openModal(picture)" style="text-align: center; width:auto; height:auto">
                </div>
                <div class="col col-25">
                  <button ng-click="vm.selectPictures()" class="button button-outline button-positive ion-plus-round" style="height:100%;text-align: center"></button>
                </div>
              </div>
            </div>
          </div>
        </ion-scroll>
      </ion-slide-page>
    </ion-slides>


  </ion-content>
</ion-view>