<ion-view view-title="Device info">
    <ion-content>
        <ion-list>
            <ion-item>
                Platform : {{vm.device.platform}}
            </ion-item>
            <ion-item>
                UUID : {{vm.device.uuid}}
            </ion-item>
            <ion-item>
                Version : {{vm.device.version}}
            </ion-item>
            <ion-item>
                Model : {{vm.device.model}}
            </ion-item>
            <ion-item>
                Connection : {{vm.network}}
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>